{% extends "socialgraph/base.html" %}

{% block searchBar %}

    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="searchInput" placeholder="" aria-label="Search Input"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn" id="searchBtn" type="button">Search</button>
        </div>
    </div>




{% endblock %}


{% block content %}
<div class="container">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ object.profile_pic.url }}">
                <div class="media-body">
                    <h2 class="follow-heading">{{ object.name }}</h2>
                    <div class="follow-heading-text">  The following people might be interesting for you:.</div>
                </div>
            </div>
        </div>
    </div>


<div class="list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
  <ul class="list">
    <li class="list-item">
      <div>
        <img src="" class="list-item-image">
      </div>
      <div class="list-item-content">
        <h4>Pascal Kunz</h4>
        <p>@hk-skit</p>
      </div>
    <li class="list-item">
      <div>
        <img src= "" class="list-item-image">
      </div>
      <div class="list-item-content">
        <h4>Sebastian Schlachter</h4>
        <p>@hk-skit</p>
      </div>
    </li>
  </ul>
</div>
{% endblock content %}