{% extends "socialgraph/base.html" %}

{% block searchBar %}

    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="searchInput" placeholder="" aria-label="Search Input"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn" id="searchBtn" type="button">Search</button>
        </div>
    </div>




{% endblock %}


{% block content %}
<div class="list-wrapper-follow">
  <ul class="list-follow">
    <li class="list-item-follow">
      <div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg" class="list-item-image-follow">
      </div>
      <div class="list-item-content-follow">
        <h4>Hans Jakob</h4>
        <p>@hk-skit</p>
      </div>
      <div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/488320/profile/profile-80.jpg" class="list-item-image-follow">
      </div>
      <div class="list-item-content-follow">
        <h4>Hans Peter</h4>
        <p>@hk-skit</p>
      </div>
    </li>
  </ul>
</div>
{% endblock content %}