{% extends "socialgraph/base.html" %}

{% block searchBar %}

    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="searchInput" placeholder="" aria-label="Search Input"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn" id="searchBtn" type="button">Search</button>
        </div>
    </div>


{% endblock %}

{% block content %}
    <div class="container">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ object.profile_pic.url }}">
                <div class="media-body">
                    <h2 class="profile-heading">{{ object.name }}</h2>
                    <div class="text-secondary">ID:{{ object.bacnet_id }}</div>
                    <div class="profile-status">Status: Lorem ipsum dolor sit amet.</div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6" style="padding-left: 0;padding-right: 0">
                    <div class="content-section">
                        <div class="container-fluid">
                            {% for key, value in object.get_details.items %}
                                <div class="row">
                                <div class="col-sm-4" style="padding-left: 0;padding-right: 0; <!--background-color:#aaa;-->" >
                                    <div class="profile-detail-key">{{ key }}:</div>

                                </div>
                                <div class="col-sm-8" style="padding-left: 0;padding-right: 0; <!--background-color:#bbb;-->">
                                     <div class="profile-detail-value">{{ value }}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-left: 0;padding-right: 0">
                    <div class="content-section"></div>
                </div>
            </div>
        </div>

        <!-- FORM HERE -->
    </div>






{% endblock content %}