{% extends "socialgraph/base.html" %}

{% block searchBar %}

    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="searchInput" placeholder="" aria-label="Search Input" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn" id="searchBtn" type="button">Search</button>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <h3 class="content-section-title">Users</h3>
            <div class="content-section" id="usersContentSection">

                <ul class="list-group">

                {% for node in nodes %}

                    <li class="list-group-item">{{ node.name }} <a href="{% url 'profile-detail' node.id %}"><button>Profile</button></a></li>

                {% endfor %}

                </ul>

            </div>
        </div>
        <div class="col-md-8">
            <h3 class="content-section-title">Graph</h3>
          <div class="content-section" id="graphContentSection">

              <div id="my_dataviz"></div>

          </div>
        </div>
      </div>
    </div>

    <script>

        // CREATE D3 GRAPH
        var nodeRadius = 15;
        var markerSize = 10;
        var markerX = nodeRadius + markerSize;

        var margin = {top: 30, right: 30, bottom: 30, left: 30},
          width = 700,
          height = 700;

        var svg = d3.select("#my_dataviz")
        .append("svg")
          .attr("width", width)
          .attr("height", height)
          .call(d3.zoom()
            .on("zoom", function () {
                svg.attr("transform", d3.event.transform)
            }))
        .append("g")
          .attr("transform",
                "translate(" + -50 + "," + -50 + ")");

        svg.append("svg:defs").selectAll("marker")
            .data(["end"])
          .enter().append("svg:marker")
            .attr("id", String)
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", markerX)
            .attr("markerWidth", markerSize)
            .attr("markerHeight", markerSize)
            .attr("orient", "auto")
          .append("svg:path")
            .attr("d", "M0,-5L10,0L0,5");

          var linkForce = d3.forceLink()
            .id(function(d) { return d.id })
            .strength(0.5)
            .distance(50)

          var simulation = d3.forceSimulation()
            .force("link", linkForce)
            .force("charge", d3.forceManyBody().strength(function (d, i) {
                var a = i == 0 ? -1500 : -1000;
                return a;
            }).distanceMin(200).distanceMax(1000))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("y", d3.forceY(0.01))
            .force("x", d3.forceX(0.01))
            .force("collide", d3.forceCollide().strength(1).radius( (d) => d.value  ).iterations(1));


        createGraph({{ data|safe }});

        function createGraph(data) {

        // d3.json("/static/socialgraph/testData.json", function(data) {

        console.log(data)

          var link = svg
            .selectAll("line")
            .data(data.links)
            .enter()
            .append("line")
              .style("stroke", "#aaa")
            .attr("marker-end", "url(#end)")


          var node = svg
            .selectAll(null)
            .data(data.nodes)
            .enter()
            .append("g")

          var circle = node
            .append("circle")
              .attr("r", nodeRadius)
              .attr('id', function(d){ return 'id' + d.id })
              .style("fill", function(d) { return nodeColor(d3.select(this).attr("id")) })
              .on("click", function(d) { return nodeClick(d3.select(this).attr("id")) })
              .call(d3.drag()
                  .on("start", dragstarted)
                  .on("drag", dragged)
                  .on("end", dragended));

          var text = node
              .append("text")
              .text(function(d) { return d.name; })
              .attr("dx", nodeRadius + 5)
              .attr("dy", ".35em")
              .attr("font-size", 12)


          simulation
              .nodes(data.nodes)
              .on("tick", ticked);

          simulation.force("link")
              .links(data.links);

          function ticked() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            circle
                 .attr("cx", function (d) { return d.x; })
                 .attr("cy", function(d) { return d.y; });

            text
                 .attr("x", function (d) { return d.x; })
                 .attr("y", function(d) { return d.y; });
          }


        }


        // MAKE AN AJAX CALL TO VIEWS.PY
        function callPythonFunction(id) {

            $.ajax({

                type: "POST",
                url: '{{ '' }}',
                async: false,
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: id },
                success: function (response){

                            resetGraph();
                            createGraph(JSON.parse(response));

                        }

            });

        }

        function resetGraph() {

            svg.selectAll("line").remove();
            svg.selectAll("circle").remove();
            svg.selectAll("text").remove();

            simulation.alpha(0.5).restart();

        }


        // SET NODE COLOR BY CONDITION
        function nodeColor(d) {
          var color = "";
          var id = d.substring(2);

          {% for node in nodes %}

            var nodeId = "{{ node.id }}";
            if (id === nodeId) {
              if ("{{ node.gender }}" === "male") {
                color = "#0095FF";
              } else {
                color = "#E97091";
              }
            }

          {% endfor %}

          return color;
        }


        // HANDLE EVENT WHEN NODE IS CLICKED
        function nodeClick(d) {
          var id = d.substring(2);
          var listItems = $(".list-group-item");

          {% for node in nodes %}

            var nodeId = "{{ node.id }}";
            if (id === nodeId) {

              for (let i = 0; i < listItems.length; i++) {
                listItems[i].classList.remove("active");
                if (getName(listItems[i].innerHTML) === "{{ node.name }}") {
                  listItems[i].classList.add("active");
                  selectedNode = listItems[i].innerHTML;
                  markNode(selectedNode);
                }

              }

            }

          {% endfor %}

        }


        // FUNCTIONS TO CREATE NODE DRAGGING
        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }


        // HANDLE EVENT WHEN LIST ITEM IS CLICKED
        $(".list-group-item").click(function() {

            var listItems = $(".list-group-item");

            for (let i = 0; i < listItems.length; i++) {
                listItems[i].classList.remove("active");
            }

            this.classList.add("active");
            var selectedNode = $(this).html();
            markNode(selectedNode);

        });


        // HANDLE EVENT WHEN SEARCH BUTTON IS CLICKED OR ENTER KEY IS PRESSED ON INPUT
        $('#searchBtn').on('click', handleSearchInput)

        $('#searchInput').on('keypress', function(e) {
            if (e.which == 13) {
                handleSearchInput();
            }
        })

        function handleSearchInput() {

            var myInput = $("#searchInput").val();
            console.log(myInput);
            $("#searchInput").val('');

            var listItems = $(".list-group-item");

            if (myInput == "ALL") {
               resetGraph();
               createGraph({{ data|safe }});
            }

                {% for node in nodes %}

                    if (myInput === "{{ node.name }}") {

                        for (let i = 0; i < listItems.length; i++) {
                            listItems[i].classList.remove("active");
                            if (getName(listItems[i].innerHTML)=== myInput) {
                                listItems[i].classList.add("active");
                                markNode(listItems[i].innerHTML);
                            }

                        }

                    }

                {% endfor %}



        }

        function getName(inner){
          if(inner.indexOf('<')>=0){            //Now in use
            var end = inner.indexOf('<')-2;
            return  inner.substring(0,end+1);}
          else{
            return inner.split(" ")[0];         //Backwards compatible
          }
        }

        // MARK THE SELECTED NODE BY CREATING A BORDER AROUND IT
        function markNode(circle) {
            circle = getName(circle)

            {% for node in nodes %}

                var currentNode = "{{ node.name }}";
                var c = d3.select("#id" + {{ node.id }});
                    c.style("stroke", "none");

                if (circle === currentNode) {

                    callPythonFunction({{ node.id }})

                    var circle = d3.select("#id" + {{ node.id }});
                    circle.style("stroke-width", 3);
                    circle.style("stroke", "black");

                }

            {% endfor %}

        }


    </script>

{% endblock content %}