body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.form-control {
  background-color: #cbd5db;
}

.form-control:focus {
  background-color: #cbd5db;
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 120, 138, 0.6);
}

#searchBtn {
  background-color: #5f788a;
  color: #cbd5db;
  border: 1px solid #cbd5db;
}

#searchBtn:hover {
  background-color: #5f788a;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#homeContentSection {
  height: calc(100vh - 153px);
}

#usersContentSection {
  height: calc(100vh - 153px);
}

#graphContentSection {
  height: calc(100vh - 153px);
}

#aboutContentSection {
  height: calc(100vh - 153px);
}

.content-section-title {
  margin-bottom: 20px;
}

.list-group{
    height: calc(100vh - 190px);
    margin-bottom: 10px;
    overflow-y:scroll;
}

.list-group-item.active {
  background-color: #3B3E4320;
  color: black;
  border: white;
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background:grey;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background:rgb(54, 56, 58);
}