body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.form-control {
  background-color: #cbd5db;
}

.form-control:focus {
  background-color: #cbd5db;
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 120, 138, 0.6);
}

#searchBtn {
  background-color: #5f788a;
  color: #cbd5db;
  border: 1px solid #cbd5db;
}

#searchBtn:hover {
  background-color: #5f788a;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#homeContentSection {
  height: calc(100vh - 153px);
}

#usersContentSection {
  height: calc(100vh - 153px);
}

#graphContentSection {
  height: calc(100vh - 153px);
}

#aboutContentSection {
  height: calc(100vh - 153px);
}

#feedContentSection {
  height: calc(100vh - 153px);
}

.content-section-title {
  margin-bottom: 20px;
}

.list-group{
  margin-top: 10px;
  height: calc(100vh - 190px);
  margin-bottom: 10px;
  overflow-y:scroll;
}

.list-group-item.active {
  background-color: #3B3E4320;
  color: black;
  border: white;
}

#my_dataviz {
  margin-top: 10px;
  height: calc(100vh - 193px);
  overflow: scroll;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgb(54, 56, 58);
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.profile-heading{
  font-size: 2.5rem;
}

.profile-id {
  font-size: 1rem;
}

.profile-status {
  font-size: 1rem;
}

.profile-detail-key{
  font-weight:bold;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.profile-detail-value{
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.profile-follows-img {
  height: 60px;
  width: 60px;
  margin-right: 0px;
  margin-bottom: 0em;

}

.profile-follows-name {
  text-align: center;
  white-space: normal;
  margin-bottom: 0;
}

.profile-status-list{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center
}

.list-wrapper-follow {
	 max-width: 400px;
	 margin: 50px auto;
}
 .list-follow {
	 background: #fff;
	 border-radius: 2px;
	 list-style: none;
	 padding: 10px 20px;
}
 .list-item-follow {
	 display: flex;
	 margin: 10px;
	 padding-bottom: 5px;
	 padding-top: 5px;
	 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
 .list-item-follow:last-child {
	 border-bottom: none;
}
 .list-item-image-follow {
	 border-radius: 50%;
	 width: 64px;
}
 .list-item-content-follow {
	 margin-left: 20px;
}
 .list-item-content-follow h4, .list-item-content-follow p {
	 margin: 0;
}
 .list-item-content-follow h4 {
	 margin-top: 10px;
	 font-size: 18px;
}
 .list-item-content-follow p {
	 margin-top: 5px;
	 color: #aaa;
}





